@page
@model RazorPage.Pages.Customer.IndexModel
<script>

</script>

<h1>Customer</h1>

<div class="container">
    <a class="navbar-brand" asp-area="" asp-page="/Customer/CustomerService">Customer Service</a>
    <a class="navbar-brand" asp-area="" asp-page="/Customer/Customer1">Customer1</a>
    <a class="navbar-brand" asp-area="" asp-page="/Customer/Customer2">Customer2</a>
</div>

